<h2>Add Product</h2>
<form id="form">
    <label for="">Title:</label>
    <input type="text" name="title"/>
    <label for="">Description:</label>
    <input type="text" name="description"/>
    <label for="">Price:</label>
    <input type="number" name="price"/>
    <label for="">Thumbnail:</label>
    <input type="text" name="thumbnail"/>
    <label for="">Code:</label>
    <input type="text" name="code"/>
    <label for="">Stock:</label>
    <input type="number" name="stock"/>
    <input class="button" type="submit" value="Send">
</form>
<h2>realTimeProducts</h2>
<div id="container" class="card__container">
    {{!-- {{#each products}}
    <div class="product__card">
        <h3>Id: {{this.id}}</h3>
        <h4>Title: {{this.title}}</h4>
        <p>Description: {{this.description}}</p>
        <p>Price: {{this.price}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Available: {{this.available}}</p>
        {{#if this.thumbnail}}
            <img height="300px" width="auto" src={{this.thumbnail}} alt="">
        {{/if}}
    </div> 
    {{/each}} --}}
</div>
{{!-- Se carga el script desde el lado del cliente --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
